ParTes/Partes WS test generator/TestSuiteExamples/Friendly_Passenger Airport/WSDL/Airportbuscompany.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://scn2.wp6.thalesgroup.choreos.ow2.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AirportBusCompanyImplService" targetNamespace="http://scn2.wp6.thalesgroup.choreos.ow2.org/">
<types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://scn2.wp6.thalesgroup.choreos.ow2.org/" version="1.0">

<xs:element name="bookAmenities" type="tns:bookAmenities"/>

<xs:element name="bookAmenitiesResponse" type="tns:bookAmenitiesResponse"/>

<xs:element name="setInvocationAddress" type="tns:setInvocationAddress"/>

<xs:element name="setInvocationAddressResponse" type="tns:setInvocationAddressResponse"/>

<xs:element name="warnUnexpectedArrival" type="tns:warnUnexpectedArrival"/>

<xs:element name="warnUnexpectedArrivalResponse" type="tns:warnUnexpectedArrivalResponse"/>

<xs:complexType name="setInvocationAddress">
<xs:sequence>
<xs:element minOccurs="0" name="role" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="endpoints" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setInvocationAddressResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="warnUnexpectedArrival">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="warnUnexpectedArrivalResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="bookAmenities">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="bookAmenitiesResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>
</types>
<message name="warnUnexpectedArrival">
<part element="tns:warnUnexpectedArrival" name="parameters"/>
</message>
<message name="warnUnexpectedArrivalResponse">
<part element="tns:warnUnexpectedArrivalResponse" name="parameters"/>
</message>
<message name="bookAmenities">
<part element="tns:bookAmenities" name="parameters"/>
</message>
<message name="bookAmenitiesResponse">
<part element="tns:bookAmenitiesResponse" name="parameters"/>
</message>
<message name="setInvocationAddress">
<part element="tns:setInvocationAddress" name="parameters"/>
</message>
<message name="setInvocationAddressResponse">
<part element="tns:setInvocationAddressResponse" name="parameters"/>
</message>
<portType name="IAirportBusCompany">
<operation name="warnUnexpectedArrival">
<input message="tns:warnUnexpectedArrival" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirportBusCompany/warnUnexpectedArrivalRequest"/>
<output message="tns:warnUnexpectedArrivalResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirportBusCompany/warnUnexpectedArrivalResponse"/>
</operation>
<operation name="bookAmenities">
<input message="tns:bookAmenities" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirportBusCompany/bookAmenitiesRequest"/>
<output message="tns:bookAmenitiesResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirportBusCompany/bookAmenitiesResponse"/>
</operation>
<operation name="setInvocationAddress">
<input message="tns:setInvocationAddress" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirportBusCompany/setInvocationAddressRequest"/>
<output message="tns:setInvocationAddressResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirportBusCompany/setInvocationAddressResponse"/>
</operation>
</portType>
<binding name="AirportBusCompanyImplPortBinding" type="tns:IAirportBusCompany">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="warnUnexpectedArrival">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookAmenities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setInvocationAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AirportBusCompanyImplService">
<port binding="tns:AirportBusCompanyImplPortBinding" name="AirportBusCompanyImplPort">
<soap:address location="http://localhost:8023/airportbuscompany"/>
</port>
</service>
</definitions>
