ParTes/Partes WS test generator/TestSuiteExamples/Friendly_Passenger Airport/WSDL/Airport.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://scn2.wp6.thalesgroup.choreos.ow2.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AirportImplService" targetNamespace="http://scn2.wp6.thalesgroup.choreos.ow2.org/">
<types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://scn2.wp6.thalesgroup.choreos.ow2.org/" version="1.0">

<xs:element name="confirmApproach" type="tns:confirmApproach"/>

<xs:element name="confirmApproachResponse" type="tns:confirmApproachResponse"/>

<xs:element name="getAvailableAmenities" type="tns:getAvailableAmenities"/>

<xs:element name="getAvailableAmenitiesResponse" type="tns:getAvailableAmenitiesResponse"/>

<xs:element name="getBusConfirmation" type="tns:getBusConfirmation"/>

<xs:element name="getBusConfirmationResponse" type="tns:getBusConfirmationResponse"/>

<xs:element name="getLuggageConfirmation" type="tns:getLuggageConfirmation"/>

<xs:element name="getLuggageConfirmationResponse" type="tns:getLuggageConfirmationResponse"/>

<xs:element name="getSecurityConfirmation" type="tns:getSecurityConfirmation"/>

<xs:element name="getSecurityConfirmationResponse" type="tns:getSecurityConfirmationResponse"/>

<xs:element name="reportPassengersPassedThrough" type="tns:reportPassengersPassedThrough"/>

<xs:element name="reportPassengersPassedThroughResponse" type="tns:reportPassengersPassedThroughResponse"/>

<xs:element name="requestAmenities" type="tns:requestAmenities"/>

<xs:element name="requestAmenitiesResponse" type="tns:requestAmenitiesResponse"/>

<xs:element name="sendRerouteWarning" type="tns:sendRerouteWarning"/>

<xs:element name="sendRerouteWarningResponse" type="tns:sendRerouteWarningResponse"/>

<xs:element name="setInvocationAddress" type="tns:setInvocationAddress"/>

<xs:element name="setInvocationAddressResponse" type="tns:setInvocationAddressResponse"/>

<xs:complexType name="getSecurityConfirmation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSecurityConfirmationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLuggageConfirmation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLuggageConfirmationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="requestAmenities">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="requestAmenitiesResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="sendRerouteWarning">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="sendRerouteWarningResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAvailableAmenities">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAvailableAmenitiesResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="confirmApproach">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="confirmApproachResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reportPassengersPassedThrough">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reportPassengersPassedThroughResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setInvocationAddress">
<xs:sequence>
<xs:element minOccurs="0" name="role" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="endpoints" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setInvocationAddressResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBusConfirmation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBusConfirmationResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>
</types>
<message name="sendRerouteWarning">
<part element="tns:sendRerouteWarning" name="parameters"/>
</message>
<message name="sendRerouteWarningResponse">
<part element="tns:sendRerouteWarningResponse" name="parameters"/>
</message>
<message name="requestAmenities">
<part element="tns:requestAmenities" name="parameters"/>
</message>
<message name="requestAmenitiesResponse">
<part element="tns:requestAmenitiesResponse" name="parameters"/>
</message>
<message name="confirmApproach">
<part element="tns:confirmApproach" name="parameters"/>
</message>
<message name="confirmApproachResponse">
<part element="tns:confirmApproachResponse" name="parameters"/>
</message>
<message name="reportPassengersPassedThrough">
<part element="tns:reportPassengersPassedThrough" name="parameters"/>
</message>
<message name="reportPassengersPassedThroughResponse">
<part element="tns:reportPassengersPassedThroughResponse" name="parameters"/>
</message>
<message name="getLuggageConfirmation">
<part element="tns:getLuggageConfirmation" name="parameters"/>
</message>
<message name="getLuggageConfirmationResponse">
<part element="tns:getLuggageConfirmationResponse" name="parameters"/>
</message>
<message name="getSecurityConfirmation">
<part element="tns:getSecurityConfirmation" name="parameters"/>
</message>
<message name="getSecurityConfirmationResponse">
<part element="tns:getSecurityConfirmationResponse" name="parameters"/>
</message>
<message name="getBusConfirmation">
<part element="tns:getBusConfirmation" name="parameters"/>
</message>
<message name="getBusConfirmationResponse">
<part element="tns:getBusConfirmationResponse" name="parameters"/>
</message>
<message name="getAvailableAmenities">
<part element="tns:getAvailableAmenities" name="parameters"/>
</message>
<message name="getAvailableAmenitiesResponse">
<part element="tns:getAvailableAmenitiesResponse" name="parameters"/>
</message>
<message name="setInvocationAddress">
<part element="tns:setInvocationAddress" name="parameters"/>
</message>
<message name="setInvocationAddressResponse">
<part element="tns:setInvocationAddressResponse" name="parameters"/>
</message>
<portType name="IAirport">
<operation name="sendRerouteWarning">
<input message="tns:sendRerouteWarning" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/sendRerouteWarningRequest"/>
<output message="tns:sendRerouteWarningResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/sendRerouteWarningResponse"/>
</operation>
<operation name="requestAmenities">
<input message="tns:requestAmenities" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/requestAmenitiesRequest"/>
<output message="tns:requestAmenitiesResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/requestAmenitiesResponse"/>
</operation>
<operation name="confirmApproach">
<input message="tns:confirmApproach" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/confirmApproachRequest"/>
<output message="tns:confirmApproachResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/confirmApproachResponse"/>
</operation>
<operation name="reportPassengersPassedThrough">
<input message="tns:reportPassengersPassedThrough" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/reportPassengersPassedThroughRequest"/>
<output message="tns:reportPassengersPassedThroughResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/reportPassengersPassedThroughResponse"/>
</operation>
<operation name="getLuggageConfirmation">
<input message="tns:getLuggageConfirmation" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/getLuggageConfirmationRequest"/>
<output message="tns:getLuggageConfirmationResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/getLuggageConfirmationResponse"/>
</operation>
<operation name="getSecurityConfirmation">
<input message="tns:getSecurityConfirmation" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/getSecurityConfirmationRequest"/>
<output message="tns:getSecurityConfirmationResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/getSecurityConfirmationResponse"/>
</operation>
<operation name="getBusConfirmation">
<input message="tns:getBusConfirmation" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/getBusConfirmationRequest"/>
<output message="tns:getBusConfirmationResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/getBusConfirmationResponse"/>
</operation>
<operation name="getAvailableAmenities">
<input message="tns:getAvailableAmenities" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/getAvailableAmenitiesRequest"/>
<output message="tns:getAvailableAmenitiesResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/getAvailableAmenitiesResponse"/>
</operation>
<operation name="setInvocationAddress">
<input message="tns:setInvocationAddress" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/setInvocationAddressRequest"/>
<output message="tns:setInvocationAddressResponse" wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/IAirport/setInvocationAddressResponse"/>
</operation>
</portType>
<binding name="AirportImplPortBinding" type="tns:IAirport">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="sendRerouteWarning">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="requestAmenities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmApproach">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reportPassengersPassedThrough">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLuggageConfirmation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSecurityConfirmation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBusConfirmation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableAmenities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setInvocationAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AirportImplService">
<port binding="tns:AirportImplPortBinding" name="AirportImplPort">
<soap:address location="http://localhost:8004/airport"/>
</port>
</service>
</definitions>
