ParTes/Partes WS test generator/TestSuiteExamples/Friendly_Passenger Airport/WSDL/Securitycompany.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://scn2.wp6.thalesgroup.choreos.ow2.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://scn2.wp6.thalesgroup.choreos.ow2.org/" name="SecurityCompanyImplService">
<types>
<xs:schema xmlns:tns="http://scn2.wp6.thalesgroup.choreos.ow2.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://scn2.wp6.thalesgroup.choreos.ow2.org/">

<xs:element name="bookAmenities" type="tns:bookAmenities" />

<xs:element name="bookAmenitiesResponse" type="tns:bookAmenitiesResponse" />

<xs:element name="setInvocationAddress" type="tns:setInvocationAddress" />

<xs:element name="setInvocationAddressResponse" type="tns:setInvocationAddressResponse" />

<xs:element name="warnUnexpectedArrival" type="tns:warnUnexpectedArrival" />

<xs:element name="warnUnexpectedArrivalResponse" type="tns:warnUnexpectedArrivalResponse" />

<xs:complexType name="warnUnexpectedArrival">
<xs:sequence />
</xs:complexType>

<xs:complexType name="warnUnexpectedArrivalResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="setInvocationAddress">
<xs:sequence>
<xs:element name="role" type="xs:string" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="endpoints" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setInvocationAddressResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="bookAmenities">
<xs:sequence />
</xs:complexType>

<xs:complexType name="bookAmenitiesResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>
</types>
<message name="warnUnexpectedArrival">
<part name="parameters" element="tns:warnUnexpectedArrival" />
</message>
<message name="warnUnexpectedArrivalResponse">
<part name="parameters" element="tns:warnUnexpectedArrivalResponse" />
</message>
<message name="bookAmenities">
<part name="parameters" element="tns:bookAmenities" />
</message>
<message name="bookAmenitiesResponse">
<part name="parameters" element="tns:bookAmenitiesResponse" />
</message>
<message name="setInvocationAddress">
<part name="parameters" element="tns:setInvocationAddress" />
</message>
<message name="setInvocationAddressResponse">
<part name="parameters" element="tns:setInvocationAddressResponse" />
</message>
<portType name="ISecurityCompany">
<operation name="warnUnexpectedArrival">
<input wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/ISecurityCompany/warnUnexpectedArrivalRequest" message="tns:warnUnexpectedArrival" />
<output wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/ISecurityCompany/warnUnexpectedArrivalResponse" message="tns:warnUnexpectedArrivalResponse" />
</operation>
<operation name="bookAmenities">
<input wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/ISecurityCompany/bookAmenitiesRequest" message="tns:bookAmenities" />
<output wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/ISecurityCompany/bookAmenitiesResponse" message="tns:bookAmenitiesResponse" />
</operation>
<operation name="setInvocationAddress">
<input wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/ISecurityCompany/setInvocationAddressRequest" message="tns:setInvocationAddress" />
<output wsam:Action="http://scn2.wp6.thalesgroup.choreos.ow2.org/ISecurityCompany/setInvocationAddressResponse" message="tns:setInvocationAddressResponse" />
</operation>
</portType>
<binding name="SecurityCompanyImplPortBinding" type="tns:ISecurityCompany">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="warnUnexpectedArrival">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="bookAmenities">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setInvocationAddress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="SecurityCompanyImplService">
<port name="SecurityCompanyImplPort" binding="tns:SecurityCompanyImplPortBinding">
<soap:address location="http://localhost:8021/securitycompany" />
</port>
</service>
</definitions>